web/node_modules
web/package-lock.json
.vscode
web/dist
backend/.idea
kafka/.idea
backend/src/main/resources/application.properties
backend/src/main/java/com/chroma/backend/.aws/credentials
cloud/.env
cloud/.terraform.lock.hcl
cloud/env.sh
*.tfstate
*.backup
cloud/.terraform/providers/registry.terraform.io/hashicorp/aws/5.97.0/darwin_arm64/terraform-provider-aws_v5.97.0_x5
cloud/.terraform/providers/registry.terraform.io/hashicorp/aws/5.97.0/darwin_arm64/LICENSE.txt
*.class
cloud/apply.sh
cloud/destroy.sh
cloud/.terraform
*.jar
*.original
*.class
*.class
